@import url(../css/global.css);

/*main 1st section*/
.main__start {
    height: 90vh;
    margin: auto;
    padding: 9%;
    color: white;
    text-align: center;
}
.start__gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5;
    left: 0;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite alternate;
    z-index: -1;
    filter: blur(90px);
}
@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;} 
}
.start__logos {
    margin-top: 3%;
    display: inline-flex;
    justify-content: center;
    gap: 6%;
}
.start__logos img {
    object-fit: scale-down;
}
.start__text {
    padding: 3%;
}
.start__text h1:first-child {
    font-size: 2rem;
    font-weight: lighter;
}
.start__text h1:nth-child(2) {
    font-size: 3rem;
}
.start__bar {
    width: 60%;
    height: 5px;
    margin: 3.5% auto;
    background-image: linear-gradient(90deg, #5516ba, rgba(255, 0, 229, 0.5) 80%);
}
.start__text h3 {
    font-size: 40px;
}
.start__text p:first-of-type {
    font-size: 20px;
}
.start__text :is(span, p) {
    font-size: 1rem;
}
.start__text button {
    font-size: 1rem;
    animation: vibrate 2.2s linear infinite;
}
@keyframes vibrate {
    0% {transform: rotate(0);}
    15% {transform: rotate(-15deg);}
    20% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    30% {transform: rotate(10deg);}
    35% {transform: rotate(-10deg);}
    40%, 100% {transform: rotate(0);}
}

/*main 2nd section*/
.main__plans {
    height: 100vh;
    margin: 5% 0;
    padding: 0 8% 0;
    background-image: url('../images/background-movies-series.png');
    background-size: cover;
    color: white;
    font-size: 2rem;   
}
.main__plans h4:first-child{
    text-align: center;
    font-size: 2rem;
}
.plans__cards {
    display: flex;
    justify-content: center;
    gap: 6%;
    perspective: 50rem;
}
.plans__card {
    margin-top: 4%;
    padding: 2% 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    font-size: 20px;
    line-height: 2;
    background: linear-gradient(0deg, transparent, #3b1e63);
    transition: scale 1s ease, transform 1s ease-in-out;
}
.plans__card ::marker {
    content: '+     ';  
}
.card__text {
    display: flex;
    justify-content: space-between;
}
.card__text span:first-of-type {
    font-size: 24px;
    font-weight: bold;
}
.card__price {
    color: #ff00e5;
    font-size: 2rem;
    font-weight: bold;
}
.plans__card button {
    width: 95%;
    padding: 3% 6%;
}
.plans__card:hover {
    scale: 1.1;
}
.plans__cards:has(.plans__card:nth-child(1):hover) .plans__card:nth-child(2) {
  transform: rotateY(-70deg);
}
.plans__cards:has(.plans__card:nth-child(2):hover) .plans__card:nth-child(1) {
  transform: rotateY(70deg);
}

/*main 3rd section*/
.main__channels {
    width: 100%;
    height: 200vh;
    color: white;
    font-size: 2rem;
    text-align: center;
}
.channels__grid-channel {
    margin: 3% 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 4%;
}
.channels__channel {
    height: 525px;
    position: relative;
}
.channels__channel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}
.channel__img-hover {
    position: absolute;
    left: 0;
    z-index: -1;
    transition: scale 1s linear;
}
.channels__channel:hover .channel__img-hover {
    scale: 1.1;
    z-index: 1;
}

@media (max-width: 1000px) {
    .main__start, .main__plans, .main__channels {
        height: fit-content;
    }
    .plans__card {
        font-size: 1rem;
    }
}
@media (max-width: 800px) {
    .plans__cards {
        flex-direction: column;
    }
    .channels__grid-channel {
        grid-template-columns: repeat(2, 1fr);
        gap: 1%;
    }
    .channels__channel {
        height: 70vh;
    }
}
@media (max-width: 500px) {
    .plans__cards {
        flex-direction: column;
    }
    .channels__grid-channel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}






